matplotlib==3.7.1
medmnist==2.2.3
opencv-python==4.7.0.72
pandas==1.5.3
Pillow==9.4.0
pytorch-lightning==2.1.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
#tensorboard==2.11.2
#tensorboardX==2.6
tifffile==2023.3.15
timm==0.6.12
#torch==2.0.0
torch-dreams==3.0.0
torchmetrics==1.2.0
torchsummary==1.5.1
torchvision==0.15.0
tqdm==4.65.0