matplotlib
medmnist==2.2.3
opencv-python==4.7.0.72
pandas
Pillow==9.4.0
pytorch-lightning==2.1.0
scikit-image
scikit-learn
scipy
seaborn==0.12.2
#tensorboard==2.11.2
#tensorboardX==2.6
tifffile==2023.3.15
timm==0.6.12
#torch==2.0.0
torch-dreams==3.0.0
torchmetrics==1.2.0
torchsummary==1.5.1
torchvision
tqdm==4.65.0
graphviz
#torchvision==0.15.0
